services:
  tileserver:
    build:
      context: .
      dockerfile: tile/Dockerfile.tile
    container_name: tileserver-GL
    ports:
      - "8081:8080"   # access on localhost:8081
    networks:
      testNetwork:
        ipv4_address: 172.28.0.2

networks:
  testNetwork:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
