services:
  tileserver:
    build:
      context: .
      dockerfile: tile/Dockerfile.tile
    container_name: tileserver-GL
    ports:
      - "8081:8080"   # access on localhost:8081
    volumes:
      - ./tile/config.json:/config.json:ro           # Mount config file
      - ./tile/styles:/styles:ro                     # Mount styles directory
      - ./tile/mbtiles:/mbtiles:ro                   # Mount mbtiles directory
    networks:
      testNetwork:
        ipv4_address: 172.28.0.2

  webserver:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: webserver-GL
    ports:
      - "8080:80"     # access on localhost:8080
    volumes:
      - ./web:/usr/share/nginx/html:ro  # Mount web files for live reloading
    networks:
      testNetwork:
        ipv4_address: 172.28.0.3
    depends_on:
      - tileserver

networks:
  testNetwork:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
